@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.sidebar{
    background-color:#ffffff;
    height: 100%;
    width: 350px;
    position: fixed;
    display: inline-block;
    border-radius: 5px;
}


.header-text{
    color:black;
    text-align: left;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.body-text{
    color:black;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
}

.filters-text{
        color:black;
        text-align: justify;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        margin-top: 10px;
        font-weight: bold;
}

.sidebar hr{
    color: #323232;
}

body{
    background-color:#f1f1f1;
} 

.reset-button{
    font-family: 'Inter';
    background-color: #211c84;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    font-size: 12px;
    min-height: 30px;
}

.upload-button{
    font-family: 'Inter';
    background-color: #211c84;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    font-size: 12px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.button-div{
    margin-left: auto;
    margin-right:auto;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.header-1{
    font-family: 'Cinzel', sans-serif;
    color: #3e3e3e;
    text-align: center;
}

.deped{
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

img{
    width: 50px;
}


.container{
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    margin: 4px;
    max-height: 650px;
    box-shadow: 2px 3px 5px #c0c0c0;
}

.main{
    margin-left: 375px;
}

.main-filter-container{
    display: flex;
    flex-direction: row;
    align-items: left; /* Aligns items vertically in the center */
    gap: 5px; /* Adds space between each dropdown */

}

.middle-container{
    display:flex;
    flex-direction: row;
    align-items: left;
    gap: 3px;
}

.summary-cards{
    display:flex;
    flex-direction: row;
    align-items: left;
}

.filter-container{
    flex:1;
    font-family: 'Inter';
    width: 355px;
}

.numerals {
    text-align: center;
    font-size: 47px;
    color:#323232;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.body-text-caption{
    color:black;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    font-size: 14.9px;
    margin-top: 5px;
    text-align: center;
}